footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $third-color;
  text-align: center;
  padding: 20px 0 20px 0;
  color: $white;
}

// For hidden components at end of page to compensate for the footer (adds a scroll bar when needed)
.page-push {
  margin-bottom: 60px;
}