@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";

.intro {
  &--heading {
    font-weight: $font-weight-bolder;
    font-size: $font-size-base * 5;
  }

  &--sub-heading {
    font-weight: $font-weight-bold;
    font-size: $font-size-base * 2;
  }

  &--p {
    font-size: $font-size-lg;
  }
  &--color-primary {
    color: $secondary;
  }
  &--banner-dark {
    width: 100%;
    background-color: rgba(0,0,0,0.31);
  }
}
