@import "../utilities/colors";

nav {
  background-color: $third-color;
}

.hamburger-line {
  width: 35px;
  height: 5px;
  background-color: $primary-color;
  margin: 6px 0;
}

.cross {
  width: 35px;
  height: 5px;
  color: $primary-color;
  text-decoration: none;
}

.cross {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 35px;
  height: 35px;
  opacity: 1;

}

.cross:hover {
}

.cross:before, .cross:after {
  position: absolute;
  left: 29px;
  bottom: 14px;
  content: ' ';
  height: 36px;
  width: 5px;
  background-color: $primary-color;
}

.cross:before {
  transform: rotate(45deg);
}

.cross:after {
  transform: rotate(-45deg);
}

.navigation,
.subnavigation {
  list-style-type: none;
  background-color: $third-color;
  color: $primary-color;
}

.name {
  font-size: 20px;
  padding: 7.5px 10px 7.5px 0;
  color: $primary-color;
  text-decoration: none;
  margin-left: 10px;
}

.item {
  padding: 10px;
}

.item.button {
  padding: 9px 5px;
}

.item, .name, .toggle {
  a:link, a:visited, a:hover, a:active {
    color: $primary-color;
    text-decoration: none;
  }

  a:focus {
    box-shadow: 0 5px 0 0 $white;
    background-color: $super-yellow;
    text-decoration: none;
    color: $black;
  }
}

.item-img {
  a:focus {
    box-shadow: 0 5px 0 0 $white;
    background-color: transparent;
    text-decoration: none;
    color: $black;
  }
}

.logo {
  padding: 0px;
}

/* Mobile screen */
.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.navigation li a:not(.logo) {
  display: block;
  padding: 15px 5px;
}

.navigation li.subitem a {
  padding: 15px;
}

.toggle {
  order: 1;
  font-size: 20px;
  margin-right: 15px;
  cursor: pointer;
}

.item.button {
  order: 2;
}

.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
  text-decoration: none;
}

.active .item {
  display: block;
}

.button.secondary {
  /* divider between buttons and navigation links */
  border-bottom: 1px #444 solid;
}

/* Subnavigation up from mobile screens */
.subnavigation {
  display: none;
}

.subnavigation-active .subnavigation {
  display: block;
}

.has-subnavigation i {
  font-size: 12px;
}

.has-subnavigation {
  border: solid $primary-color;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin: 0 0 3px 10px;
}

.nav-arrow-up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin: 3px 0 0 10px;

}

.subitem a {
  padding: 10px 15px;
}

.subnavigation-active {
  background-color: $black;
  border-radius: 3px;
}

/* Tablet navigation */
@media all and (min-width: 700px) {
  .navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .item.button {
    width: auto;
    order: 1;
    display: block;
  }
  .navigation li.button a {
    padding: 10px 15px;
    margin: 5px 0;
  }
  .button a {
    background: #0080ff;
    border: 1px royalblue solid;
  }
  .button.secondary {
    border: 0;
  }
  .button.secondary a {
    background: transparent;
    border: 1px #0080ff solid;
  }
  .button a:hover {
    text-decoration: none;
  }
  .button:not(.secondary) a:hover {
    background: royalblue;
    border-color: darkblue;
  }
}

/* Desktop screen */
@media all and (min-width: 960px) {
  .navigation {
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
    justify-content: left;

  }
  .name {
    flex: 1;
    order: 0;
  }
  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }
  .button {
    order: 2;
  }
  .subnavigation-active .subnavigation {
    display: block;
    position: absolute;
    left: 0;
    top: 68px;
    background: $black;
  }
  .toggle {
    display: none;
    flex: 1;
    text-align: right;
    order: 2;
    margin-right: 0px;
    cursor: pointer;
  }
  .subnavigation-active {
    border-radius: 0;
  }
}

