// Replace saturated colors / mono

$white: #dddddd;
$black: #111111;
$light: #e9ecef;
$dark: #212529;
$brand-blue: #8bd4f1;
$brand-purple: #623aab;
$bright-grey: #2c2c2c;
$super-yellow: #E2B815;

$black-dim: rgba(17, 17, 17, 0.3);


$primary-color: $white;
$secondary-color: $brand-purple;
$third-color: $bright-grey;

$theme-colors: ();