@import 'bootstrap/utilities/typography';
@import 'bootstrap/utilities/colors';


body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  background-color: $white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



// ------------------------------ Used for Sticky Footer Begin ------------------------------
.content {
  padding-bottom: -20px;
}

.background-lettering{
  background-image: url('../content/assets/letter-background.png') ;
  background-repeat: repeat;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

//------------------------------ Used for Sticky Footer End ------------------------------