@import 'utilities/_fonts';

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  color: $base-text-colour;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}