@import 'utilities/typography';
@import 'utilities/colors';


* {
  margin: 0; /* remove all default margins */
}

html {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
  font-family: $font-family-base;
  font-size: $font-size-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100%;
}



// ------------------------------ Used for Sticky Footer Begin ------------------------------
.content {
  padding-bottom: -20px;
}

.background-lettering{
  background-image: url('../content/assets/letter-backgroundV2.png') ;
  background-repeat: repeat;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

//------------------------------ Used for Sticky Footer End ------------------------------